body{
    padding: 40px 30px;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
}
header nav{
    margin-left: 100px;
    font-weight: bold;
    font-size: 30px;
    align-self: center;
    justify-self: center;
}
header ul{
    margin-left: auto;
    margin-right: 100px;
}
header ul li{
    list-style: none;
    display: inline;
    margin-right: 50px;
    font-weight: 500;
}
.upper-text {
    margin-top: 80px;
    margin-left: 100px;
    width: 450px;
}
.upper-text p{
    color: #1687a7;
    font-weight: bold;
}
.hero{
    width: 90%;
    border-radius: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
input{
    border-radius: 5px;
    margin-right: 5px;
    border: thin;
    height: 40px;
    padding: 10px;
    background-color: #eaece6;
}
.message{
    margin-top: 30px;
}
.message label{
    opacity: 0.7;
    margin-bottom: 10px;
}
.head{
    margin-top: 70px;
}
.collections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto ;
}
.box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    margin-top: 20px;
   background-color: white;
}
.icon{
    width: 40px;
    margin-bottom: 20px;
}
.box:hover{
    transform: scale(1.2);
}

.box h6{
    font-weight: bold;
}
.box p{
    font-size: small;
    margin-top: 20px;
}
.box .start{
    padding: 5px;
    border: none;
    background-color: #4d375d;
    color: white;
    border-radius: 5px;
    width: fit-content;
    margin-top: 20px;
    margin-left: auto;
}
.second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sec-box{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 15px;
    height: 450px;
}
.close{
    margin-top: 50px;
    width: 400px;
}
.space{
    margin-top: 100px;
}
.sec-box img{
    border-radius: 10px;
}
.sec-box label{
    opacity: 0.7;
    margin-top: 10px;
}
.space1{
    margin-bottom: 100px;
}
span{
    color: black;
    margin-left: auto;
}
.last{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.left{
    width: 35%;
    margin-right: 20px;
}
